@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;700&family=Quicksand&display=swap');

/* VARIÁVEIS */

:root {
    --cor-primaria: #1A7FBE;
    --cor-secundaria: #5B7FB1;
    --cor-terciaria: #C27FB1;
    --cor-titulo: #0045a5;
    --cor-subtitulo: #a8a8a8;
    --cor-linha: #c6c6c6;
    
    --raio-borda: 4px;

    --fonte-grande: 3rem;
    --font-media: 1.3rem;
    --font-normal: 1rem;
}

/* CORPO */

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    position: relative;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BOTÃO */

.botao {
    padding: 16px 36px;
    text-align: center;
    align-self: center;
    border-radius: var(--raio-borda);
    color: #fff;
    text-decoration: none;
}

.botao:hover {
    font-weight: bold;
    box-shadow: 0px 0px 3px #5c5c5c;
}

/* PLANO DE FUNDO */

.bg-primaria {
    background-color: var(--cor-primaria);
}

.bg-secundaria {
    background-color: var(--cor-secundaria);
}

.bg-terciaria {
    background-color: var(--cor-terciaria);
}

/* TEXTO */


/* CABEÇALHO */

.cabecalho {
    box-sizing: border-box;
    background-color: #FFF;
    display: flex;
    height: 120px;
    width: 100%;
    padding: 0 16px;
    justify-content: space-between;
    border-bottom: solid 1px #c6c6c6;
    position: fixed;
    top: 0;
    z-index: 1;  
}

.cabecalho-nav {
    display: flex;
}

.cabecalho__logotipo {
    align-items: center;
    height: 100%;
    margin-right: 50px;
}

.cabecalho__links {
    display: flex;
    align-self: center;
    gap: 30px;
}

.cabecalho__links__link {
    text-decoration: none;
    color: var(--cor-subtitulo);
}

.cabecalho__links__link:hover {
    color: var(--cor-primaria);
    font-weight: 600;
}

/* PRINCIPAL */

.principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    margin-top: 120px;
    margin-bottom: 30px;
}

/* SEÇÃO PRINCIPAL */

.principal__apresentacao {
    /* background-color: rgb(255, 145, 0); */
    display: flex;
    flex-direction: column;
    width: 75vw;
    height: 100%;
}

.secao {
    display: flex;
    margin: 30px 0;
    gap: 16px;
}

.artigo {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "titulo titulo"
    "imagem subtitulo"
    "imagem texto";
    gap: 15px;
    flex: 1;
    border: solid 1px var(--cor-linha);
    border-radius: 4px;
    padding: 16px;
}

.titulo-artigo {
    grid-area: titulo;
    font-size: var(--fonte-grande);
    color: var(--secundaria);
}

.subtitulo-artigo {
    grid-area: subtitulo;
    font-size: var(--font-media);
    color: #252424;
    font-weight: 600;
    margin: 10px 0;
}

.texto-artigo {
    grid-area: texto;
    font-family: 'Quicksand', sans-serif;
    line-height: 130%;
    font-size: medium;
    text-align: start;
    color: #b2b2b2;
    font-weight: 600;
    margin-bottom: 20px;
}

.texto-artigo .texto-forte {
    font-weight: 900;
    color: #535353;
}

.artigo-imagem {
    grid-area: imagem;
    width: 100%;
    align-self: center;
}

.botao-container {
    display: flex;
    background-color: var(--terciaria);
    padding: 16px 0px;
    width: 360px;
    text-align: center;
    justify-content: center;
    align-self: center;
    border-radius: 4px;
    margin-top: 24px;
}

.botao-texto {
    color: #fff;
    font-weight: bold;
}

/* RODAPÉ */

.rodape {
    background-color: var(--secundaria);
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}